.h1-index,
.h1-ideas,
.h1-jugadores,
.h1-gs,
.h1-torneos,
.h2-gs,
.h2-torneos,
.h2-video-jugadores,
.h2-video-gs {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  margin-top: 80px;
  margin-bottom: 40px;
}

body {
  background-image: url(../imagenes/fondodepantalla.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.items-nav {
  background-color: rgb(88, 175, 204);
}
.items-nav .logo-nav {
  width: 50px;
  height: 45px;
  border: white 1px solid;
}
.items-nav div li a {
  font-weight: bold;
}
.items-nav .btn-navbar {
  background-color: white;
}

main .noticias-index {
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 1s;
  width: 25rem;
}
main .noticias-index:hover {
  box-shadow: 5px 2px 2px black;
}
main .noticias-index img {
  height: 250px;
}
main .noticias-index h2 {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 1s;
  width: 25rem;
}
.card .card-img-top {
  height: 250px;
}
.card .card-body .card-title {
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: black;
}
.card .card-body .card-text {
  text-align: justify;
  color: black;
}
.card .card-body .card-text::first-letter {
  font-size: x-large;
}
.card .card-body .boton {
  border: 1px solid black;
  transition: all 1s;
}
.card .card-body .boton:hover {
  transform: scale(1.1);
  border: 1px solid black;
}

.card:hover {
  box-shadow: 5px 2px 2px black;
}

.video-jugadores {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-jugadores .h2-video-jugadores {
  margin: 20px;
}
.video-jugadores .youtube-jugadores {
  border: 2px solid white;
  transition: all 1.5s;
}
.video-jugadores .youtube-jugadores:hover {
  transform: scale(1.1);
}

.video-gs {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-gs .h2-video-gs {
  margin: 20px;
}
.video-gs .youtube-gs {
  border: 2px solid white;
  transition: all 1.5s;
}
.video-gs .youtube-gs:hover {
  transform: scale(1.1);
}

.section-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-right: 15px;
  margin-left: 15px;
}
.section-table .titulo-table {
  text-align: center;
  margin-top: 15px;
}
.section-table .tabla-gs {
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  border: 2px solid white;
}
.section-table .tabla-gs tbody tr td, .section-table .tabla-gs tbody tr th, .section-table .tabla-gs thead th {
  color: white;
  text-align: center;
}
.section-table .tabla-gs tbody tr td a, .section-table .tabla-gs tbody tr th a, .section-table .tabla-gs thead th a {
  color: white;
  text-decoration: none;
}
.section-table .tabla-gs tbody tr td a:hover, .section-table .tabla-gs tbody tr th a:hover, .section-table .tabla-gs thead th a:hover {
  color: rgb(63, 63, 199);
  text-decoration: underline;
}

.tabla-pequena {
  display: none;
}

.accordion {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
}

.contenido-acordeon,
.cuerpo-acordeon {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.contenido-acordeon img,
.cuerpo-acordeon img {
  width: 250px;
  height: 200px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.contenido-acordeon p,
.cuerpo-acordeon p {
  margin-left: 10px;
}

.section-ideas {
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}
.section-ideas input, .section-ideas textarea {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.section-ideas .boton {
  border: 1px solid black;
  transition: all 1s;
}
.section-ideas .boton:hover {
  transform: scale(1.1);
}

.futer h3 {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  margin-top: 40px;
}
.futer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 20px;
}
.futer ul li {
  transition: all 1.5s;
}
.futer ul li:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 700px) {
  .noticias-index, .card-jugadores, .card-davis, .card-finals {
    width: 80%;
  }
  .h2-video-jugadores {
    text-align: center;
    align-content: center;
  }
  .youtube-jugadores,
.youtube-gs {
    width: 80%;
  }
  .contenido-acordeon,
.cuerpo-acordeon {
    flex-direction: column;
  }
  .tabla-grande {
    display: none;
  }
  .tabla-pequena {
    display: block;
    width: 75%;
  }
  .section-ideas input,
.section-ideas textarea {
    width: 80%;
  }
  .futer ul {
    flex-direction: column;
    align-items: center;
  }
  .futer ul li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
