.h1-index,
.h1-ideas,
.h1-jugadores,
.h1-gs,
.h1-torneos,
.h2-gs,
.h2-torneos,
.h2-video-jugadores,
.h2-video-gs {
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  margin-top: 90px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(https://images.unsplash.com/photo-1588421357574-87938a86fa28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
}

.items-nav {
  background-color: rgb(88, 175, 204);
}
.items-nav .logo-nav {
  width: 50px;
  height: 45px;
  border: white 1px solid;
}
.items-nav div li a {
  font-weight: bold;
  color: black;
}
.items-nav .btn-navbar {
  background-color: white;
}

.activo {
  text-decoration: underline;
}

.h1-gs {
  margin-top: 40px;
}

.noticias-index, .card-jugadores, .card-davis, .card-finals {
  margin: 20px 20px 40px 40px;
  transition: all 1s;
  width: 30%;
}
.noticias-index .card-img-top, .card-jugadores .card-img-top, .card-davis .card-img-top, .card-finals .card-img-top {
  height: 250px;
}
.noticias-index .letras-tarjeta strong, .card-jugadores .letras-tarjeta strong, .card-davis .letras-tarjeta strong, .card-finals .letras-tarjeta strong {
  font-size: large;
  justify-content: center;
  color: black;
  font-family: "Roboto", sans-serif;
}
.noticias-index .letras-tarjeta .p-tarjeta, .card-jugadores .letras-tarjeta .p-tarjeta, .card-davis .letras-tarjeta .p-tarjeta, .card-finals .letras-tarjeta .p-tarjeta {
  text-align: justify;
  color: black;
}
.noticias-index .letras-tarjeta .p-tarjeta::first-letter, .card-jugadores .letras-tarjeta .p-tarjeta::first-letter, .card-davis .letras-tarjeta .p-tarjeta::first-letter, .card-finals .letras-tarjeta .p-tarjeta::first-letter {
  font-size: x-large;
}
.noticias-index .letras-tarjeta .boton, .card-jugadores .letras-tarjeta .boton, .card-davis .letras-tarjeta .boton, .card-finals .letras-tarjeta .boton {
  border: 1px solid black;
  transition: all 1s;
  background-color: rgb(88, 175, 204);
}
.noticias-index .letras-tarjeta .boton:hover, .card-jugadores .letras-tarjeta .boton:hover, .card-davis .letras-tarjeta .boton:hover, .card-finals .letras-tarjeta .boton:hover {
  transform: scale(1.1);
  border: 1px solid black;
}

.card:hover {
  box-shadow: 10px 4px 4px black;
}

.carousel-item {
  margin-top: 70px;
}
.carousel-item img {
  height: 400px;
}

.video-jugadores {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-jugadores .h2-video-jugadores {
  margin: 20px;
}
.video-jugadores .youtube-jugadores {
  border: 2px solid white;
  transition: all 1.5s;
}
.video-jugadores .youtube-jugadores:hover {
  transform: scale(1.05);
}

.video-gs {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-gs .h2-video-gs {
  margin: 20px;
}
.video-gs .youtube-gs {
  border: 2px solid white;
  transition: all 1.5s;
}
.video-gs .youtube-gs:hover {
  transform: scale(1.1);
}

.section-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-right: 15px;
  margin-left: 15px;
}
.section-table .titulo-table {
  text-align: center;
  margin-top: 15px;
}
.section-table .tabla-gs {
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  border: 2px solid white;
}
.section-table .tabla-gs tbody tr td, .section-table .tabla-gs tbody tr th, .section-table .tabla-gs thead th {
  color: white;
  text-align: center;
}
.section-table .tabla-gs tbody tr td a, .section-table .tabla-gs tbody tr th a, .section-table .tabla-gs thead th a {
  color: white;
  text-decoration: none;
  transition: all 1s;
}
.section-table .tabla-gs tbody tr td a:hover, .section-table .tabla-gs tbody tr th a:hover, .section-table .tabla-gs thead th a:hover {
  color: black;
  background-color: white;
  transform: scale(1.1);
}

.tabla-pequena, .tabla-diminuta {
  display: none;
}

.acordeon-gs, .acordeon-torneos {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
}

.contenido-acordeon,
.cuerpo-acordeon {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.contenido-acordeon img,
.cuerpo-acordeon img {
  width: 250px;
  height: 200px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.contenido-acordeon p,
.cuerpo-acordeon p {
  margin-left: 10px;
  text-align: justify;
}

.ao-strong {
  color: rgb(109, 206, 238);
}

.rg-strong {
  color: rgb(250, 172, 26);
}

.wim-strong {
  color: rgb(14, 189, 14);
}

.uo-strong {
  color: rgb(19, 19, 218);
}

.mil-strong {
  color: rgb(243, 207, 1);
}

.quin-strong {
  color: rgb(128, 126, 126);
}

.dosc-strong {
  color: rgb(205, 127, 50);
}

.section-ideas {
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}
.section-ideas input, .section-ideas textarea {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}
.section-ideas .boton {
  border: 1px solid black;
  transition: all 1s;
  background-color: rgb(88, 175, 204);
}
.section-ideas .boton:hover {
  transform: scale(1.1);
}

.boton-ideas {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 40px;
}
.boton-ideas:hover {
  background-color: rgb(88, 175, 204);
  box-shadow: 0px 15px 20px rgb(88, 175, 204);
  color: #fff;
  transform: translateY(-7px);
}
.boton-ideas:active {
  transform: translateY(-1px);
}

.futer p {
  align-content: center;
  text-align: center;
  font-size: x-large;
  font-style: italic;
  text-decoration: underline;
  margin-top: 40px;
  width: auto;
}
.futer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 40px;
  padding: 0%;
}
.futer ul li {
  transition: all 1.5s;
}
.futer ul li:hover {
  transform: scale(1.5);
}

.futer-ideas {
  margin-top: 100px;
}

@media screen and (max-width: 800px) {
  .card {
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  .card {
    width: 75%;
  }
  .h2-video-jugadores {
    text-align: center;
    align-content: center;
  }
  .youtube-jugadores,
.youtube-gs {
    width: 80%;
  }
  .contenido-acordeon,
.cuerpo-acordeon {
    flex-direction: column;
  }
  .tabla-grande {
    display: none;
  }
  .tabla-pequena {
    display: block;
    width: 80%;
    border: 2px solid white;
  }
  .tabla-pequena th, .tabla-pequena td {
    width: 50%;
  }
  .section-ideas input,
.section-ideas textarea {
    width: 80%;
  }
  .futer ul li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 350px) {
  .tabla-pequena {
    display: none;
  }
  .tabla-diminuta {
    display: block;
    width: 80%;
    border: 2px solid white;
  }
  .tabla-diminuta th, .tabla-diminuta td {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
