.accordion {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
}

.contenido-acordeon , 
.cuerpo-acordeon{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    img{
        width: 250px;
        height: 200px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    p{
        margin-left: 10px;
    }
}
