.acordeon-gs, .acordeon-torneos{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

.contenido-acordeon , 
.cuerpo-acordeon{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    img{
        width: 250px;
        height: 200px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    p{
        margin-left: 10px;
        text-align: justify;
    }
}

.ao-strong{
color: rgb(109, 206, 238);
}

.rg-strong{
    color: rgb(250, 172, 26);
}

.wim-strong{
    color: rgb(14, 189, 14)
}

.uo-strong{
    color: rgb(19, 19, 218);
}

.mil-strong{
    color: rgb(243, 207, 1)
}

.quin-strong{
    color: rgb(128, 126, 126);
}

.dosc-strong{
    color: rgb(205, 127, 50);
}
