body{
    background-image: url(../imagenes/fondodepantalla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
