.futer{
    p{
        align-content: center;
        text-align: center;
        font-size: x-large;
        font-style: italic;
        text-decoration: underline;
        margin-top: 40px; 
        width: auto;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        margin-top: 40px;
        padding: 0%;
        li{
            transition: all 1.5s;
        &:hover{
            transform: scale(1.5);
        }}
    }
}

.futer-ideas{
    margin-top: 100px;
}