.items-nav {
    background-color: rgb(88, 175, 204);
    .logo-nav {
        width: 50px;
        height: 45px;
        border: white 1px solid;
    }
    div li a{
        font-weight: bold;
    }
    .btn-navbar{
        background-color: white;
    }
}
