main{
    .noticias-index{
        margin-top: 20px;
        margin-bottom: 20px;
        transition: all 1s;
    &:hover{
        box-shadow: 5px 2px 2px black;
    }
        img{
            height: 250px; 
        }
        h2{
            font-size: large;
            font-weight: bold;
            text-align: center;  
        }
    }
}
