@media screen and (max-width: 800px){
    .card{
        width: 45%;
    }
}

@media screen and (max-width: 700px){
    .card{
        width: 75%;
    }
    .h2-video-jugadores{
        text-align: center;
        align-content: center;
    }
    .youtube-jugadores, 
    .youtube-gs{
        width: 80%;
    }
    .contenido-acordeon, 
    .cuerpo-acordeon{
        flex-direction: column;
    }
    .tabla-grande{
        display: none;
    }
    .tabla-pequena{
        display: block;
        width: 80%;
        border: 2px solid white;
        th,td{
            width: 50%;
        }
    }
    .section-ideas input,
    .section-ideas textarea {
        width: 80%;
    }
    .futer ul li{
            margin-top: 10px;
            margin-bottom: 10px;
    }
}

@media screen and (max-width: 350px){
    .tabla-pequena{
        display: none;
    }
    .tabla-diminuta{
        display: block;
        width: 80%;
        border: 2px solid white;
        th,td{
            width: 50%;
        }
    }
}
